.DS_Store
# Virtual Environment
/.venv
/venv
/.idea

# pdm
.pdm-python

# python
__pycache__

# dbt
.gitkeep
dbt.log

# terraform
dev_project/deployment/terraform.tfstate.backup
dev_project/deployment/.terraform.lock.hcl
